<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringaschool.zion_fitness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZionFitness">
        <activity android:name=".Workout3Activity"></activity>
        <activity android:name=".Workout2Activity" />
        <activity android:name=".IntermediateActivity$Day1intermediateActivity" />
        <activity android:name=".EasyActivity$Day1easyActivity" />
        <activity android:name=".Workout1Activity" />
        <activity android:name=".HardActivity$Day30Activity" />
        <activity android:name=".HardActivity$Day29Activity" />
        <activity android:name=".HardActivity$Day28Activity" />
        <activity android:name=".HardActivity$Day27Activity" />
        <activity android:name=".HardActivity$Day26Activity" />
        <activity android:name=".HardActivity$Day25Activity" />
        <activity android:name=".HardActivity$Day24Activity" />
        <activity android:name=".HardActivity$Day23Activity" />
        <activity android:name=".HardActivity$Day22Activity" />
        <activity android:name=".HardActivity$Day21Activity" />
        <activity android:name=".HardActivity$Day20Activity" />
        <activity android:name=".HardActivity$Day19Activity" />
        <activity android:name=".HardActivity$Day18Activity" />
        <activity android:name=".HardActivity$Day17Activity" />
        <activity android:name=".HardActivity$Day16Activity" />
        <activity android:name=".HardActivity$Day15Activity" />
        <activity android:name=".HardActivity$Day14Activity" />
        <activity android:name=".HardActivity$Day13Activity" />
        <activity android:name=".HardActivity$Day12Activity" />
        <activity android:name=".HardActivity$Day11Activity" />
        <activity android:name=".HardActivity$Day10Activity" />
        <activity android:name=".HardActivity$Day9Activity" />
        <activity android:name=".HardActivity$Day8Activity" />
        <activity android:name=".HardActivity$Day7Activity" />
        <activity android:name=".HardActivity$Day6Activity" />
        <activity android:name=".HardActivity$Day5Activity" />
        <activity android:name=".HardActivity$Day4Activity" />
        <activity android:name=".HardActivity$Day3Activity" />
        <activity android:name=".HardActivity$Day2Activity" />
        <activity android:name=".HardActivity$Day1Activity" />
        <activity android:name=".IntermediateActivity" />
        <activity android:name=".HardActivity" />
        <activity android:name=".EasyActivity" />
        <activity android:name=".LevelActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>